/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
:root {
  /*Define colors*/
  --iris-100:#5D5FEF;
  --iris-80:#7879F1;
  --iris-60:#A5A6F6;
  --black-100:#000000;
  --black-80:#828282;
  --black-60:#C4C4C4;
  --green-100:#028257;
  --green-80:#03BC7D;
  --green-60:#E5F8F2;

  /*Define font*/
  --main-font: "Sofia Sans", sans-serif;
}



/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--main-font);
  color: var(--black-100);
}

.custom-primary-button{
  font-family: var(--main-font);
  color: #fff;
  background-color: var(--iris-80)
}

a {
  color: var(--black-100);
  text-decoration: none;
}

a:hover {
  color: var(--iris-80);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
}



/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: #fff;
}

#header .container {
  background-color: var(--green-60);
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px var(--black-100);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 0;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: var(--main-font);
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: var(--black-100);
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus,
.navbar button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-family: var(--main-font);
  color: var(--black-100);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a ,
.navbar button:hover {
  color: var(--iris-80);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  color: var(--black-100);
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: var(--iris-80);
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: var(--black-80);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--black-80);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: var(--green-60);
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus,
.navbar-mobile button {
  padding: 10px 20px;
  font-size: 15px;
  color: var(--black-100);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a,
.navbar-mobile button:hover {
  color: var(--iris-80);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: var(--iris-80);
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 0;
  font-family: var(--main-font);
  color: var(--black-100);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Description
--------------------------------------------------------------*/
.description {
  padding: 0;
  margin-top: 40px;
}

.description .container {
  background-color: var(--green-60);
  padding: 60px 50px;
}

@media (max-width: 992px) {
  .description .container {
    padding: 30px;
  }
}

.description .content h3 {
  font-weight: 400;
  font-size: 32px;
  color: var(--black-100);
  font-family: var(--main-font);
}

.description .content ul {
  list-style: none;
  padding: 0;
}

.description .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--green-100);
}

.description .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# avis
--------------------------------------------------------------*/
.avis .avis-carousel,
.avis .avis-slider {
  overflow: hidden;
}

.avis .avis-item {
  box-sizing: content-box;
  min-height: 320px;
}

.avis .avis-item .avis-img {
  width: 90px;
  border-radius: 50%;
  margin: -40px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid #fff;
}

.avis .avis-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
  color: var(--black-100);
}

.avis .avis-item h4 {
  font-size: 14px;
  color: var(--black-80);
  margin: 0 0 0 45px;
}

.avis .avis-item .quote-icon-left,
.avis .avis-item .quote-icon-right {
  color: var(--black-60);
  font-size: 26px;
}

.avis .avis-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.avis .avis-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.avis .avis-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: var(--green-60);
  position: relative;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}

.avis .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.avis .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--iris-80);
}

.avis .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--iris-80);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
  margin-top: 40px;
}

.contact .email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  border: 2px solid var(--black-60);
  border-radius: 4px;
}

.contact .email-form .form-group {
  padding-bottom: 8px;
}

.contact .email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .error-message br+br {
  margin-top: 25px;
}

.contact .email-form .sent-message {
  display: none;
  color: #fff;
  background: var(--green-60);
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--green-60);
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .email-form input {
  height: 44px;
}

.contact .email-form textarea {
  padding: 10px 12px;
}

.contact .email-form button[type=submit] {
  background: var(--iris-80);
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal-header{
  background-color: var(--green-60);
}

/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.details {
  margin-top: 40px;
}

.details .container {
  background-color: var(--green-60);
}

.details .info {
  padding: 30px;
  box-shadow: 0px 0 30px var(--black-100);
}

.details .info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.details .info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.details .info ul li+li {
  margin-top: 10px;
}

.details .description {
  padding-top: 30px;
}

.details .description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.details .description p {
  padding: 0;
}

.border-custom{
  border-bottom: 1px solid var(--black-80);
}

/*--------------------------------------------------------------
# image-slider
--------------------------------------------------------------*/

.image-slider img {
  width: 100%;
}

.image-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.image-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--iris-80);
}

.image-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--iris-80);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: var(--green-60);
  padding: 0 0 30px 0;
  color: var(--black-100);
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}